.about {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: rgb(27, 27, 27);
  /* border: 2px solid red; */
  color: #fff;
}
.carousel {
  width: 650px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.carousel .carousel-item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 340px;
  margin-top: 2em;
}
.carousel .carousel-item a {
  color: #eb7245;
}
.carousel .img-box {
  width: 145px;
  height: 145px;
  margin: 0 auto;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  /* border: 1px solid rgb(134, 122, 247); */
}
.carousel .testimonial {
  padding: 30px 0 10px;
}
.carousel .overview {
  text-align: center;
  padding-bottom: 5px;
}
.carousel .overview b {
  color: #333;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 5px;
}
.carousel .star-rating i {
  font-size: 18px;
  color: #ffdc12;
}
.carousel-control-prev,
.carousel-control-next {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  background: #999 !important;
  text-shadow: none !important;
  top: 4px !important;
}
.carousel-control-prev i,
.carousel-control-next i {
  font-size: 20px !important;
  margin-right: 2px !important;
}
.carousel-control-prev {
  left: auto !important;
  right: 40px !important;
}
.carousel-control-next i {
  margin-right: -2px !important;
}
.carousel .carousel-indicators {
  bottom: 15px !important;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 11px !important;
  height: 1px !important;
  margin: 1px 5px !important;
  border-radius: 50% !important;
}
.carousel-indicators li {
  background: #e2e2e2 !important;
  border: none !important;
}
.carousel-indicators li.active {
  background: #888 !important;
}

.skill-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skill-section h3 {
  color: #f19b29;
  font-size: 38px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 350;
  font-style: italic;
  /* text-align: center; */
}
.skill-section .skills {
  position: relative;
  width: 70%;
  display: flex;
  margin: 20px auto;
  padding: 24px 10px 18px;
  background: linear-gradient(#616161 0%, #333 10%, #222);
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #000;
  transition: 0.5s;
}
.skill-section .skills::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 10;
}
.skill-section .skills .s-name {
  position: relative;
  width: 110px;
  color: #fff;
  margin-top: -2px;
  text-align: right;
  text-transform: uppercase;
}
.skill-section .skills .value {
  position: relative;
  width: 40px;
  columns: #fff;
  margin-top: -2px;
  text-align: left;
}
.skill-section .skills .percent {
  position: relative;
  width: calc(100% - 150px);
  height: 20px;
  margin: 0 10px;
  border-radius: 10px;
  background: #151515;
  overflow: hidden;
  box-shadow: inset 0 0 10px #000;
}
.skill-section .skills .percent .s-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  border-radius: 10px;
  background: #eb7245;
  box-shadow: inset 0 0 2px #000;
  animation: animate 4s ease-in-out forwards;
}
@keyframes animate {
  from {
    width: 0;
  }
}

.skill-section .skills:nth-child(2) .percent .s-progress {
  background: linear-gradient(45deg, #1fe6ff, #673ab7);
}
.skill-section .skills:nth-child(3) .percent .s-progress {
  background: linear-gradient(45deg, #43f39b, #aee025);
}
.skill-section .skills:nth-child(4) .percent .s-progress {
  background: linear-gradient(45deg, #3bc0ff, #33ff00);
}
.skill-section .skills:nth-child(5) .percent .s-progress {
  background: linear-gradient(45deg, #f11712, #0099f7);
}
.skill-section .skills:nth-child(6) .percent .s-progress {
  background: linear-gradient(45deg, #2f7336, #aa3a38);
}
.skill-section .skills:nth-child(7) .percent .s-progress {
  background: linear-gradient(45deg, #ee9ca7, #ba8b02);
}
.skill-section .skills:nth-child(8) .percent .s-progress {
  background: linear-gradient(45deg, #ffcc33, #ffa17f);
}
.skill-section .skills:nth-child(9) .percent .s-progress {
  background: linear-gradient(45deg, #360033, #0b8793);
}
